@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;700&display=swap');

$white: #fff;
$blue: #4369b2;
$light-blue: #5889e5;
$dark-blue: #35548b;
$Lato: 'Lato', sans-serif;
$Montserat: 'Montserrat', sans-serif;

body {
	font-family: $Montserat;
	display: block;
	background-color: $dark-blue;
  }

  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

// Nav Section
.header {
	width: 100%;
	background-color: $dark-blue;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 12px;
	position: fixed;
	top: 0;
	z-index: 10;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  }

  .back {
	display: flex;
	align-items: center;
  }

  .back-btn {
	border: none;
	background-color: transparent;
  }

  .year {
	font-family: $Lato;
	font-size: 1.25rem;
	font-weight: bold;
  }

  .app-caption {
	font-size: 1.55rem;
  }

  .microphone,
  .cog,
  .chevron-left {
	width: 24px;
	height: 24px;
	color: $white;
  }

  .cog,
  .year {
	margin-left: 24px;
  }
